# Artificial Intelligence_LAB03

# Insert Items

In [1]:
list = ["Desy", "Nita", "Wani"]
list.insert(2, "Wina")
print(list)

['Desy', 'Nita', 'Wina', 'Wani']

# Append Items

To add an item to the end of the list.

In [2]:
list = ["Desy", "Nita", "Wani"]
list.append("Wina")
print(list)

['Desy', 'Nita', 'Wani', 'Wina']

# Extend List

To append elements from another list to the current list, The elements will be added to the end of the list.

In [3]:
lc = ["Desy", "Nita", "Wani"]
fs = ["Anis", "Wina", "Shine"]
lc.extend(fs)
print(lc)

['Desy', 'Nita', 'Wani', 'Anis', 'Wina', 'Shine']

# Add Any Iterable

Pay attention to the bracket, list using [ ] otherwise tuple using ( )

In [4]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange") 
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove Specified Item

By using remove ( ) method.

In [5]:
list = ["Desy", "Nita", "Wani"]
list.remove("Wani")
print(list)

['Desy', 'Nita']

# Remove Specified Index

By using The pop ( ) method.

In [6]:
list = ["Desy", "Nita", "Wani"]
list.pop(2)
print(list)

['Desy', 'Nita']

In [7]:
# To remove the last item

list = ["Desy", "Nita", "Wani"]
list.pop()
print(list)

['Desy', 'Nita']

In [9]:
# To remove the first item

list = ["Desy", "Nita", "Wani"]
del list[0]
print(list)

['Nita', 'Wani']

In [10]:
list = ["Desy", "Nita", "Wani"]
del list

# Clear the List

The clear() method empties the list. The list still remains, but it has no content.

In [11]:
list = ["Desy", "Nita", "Wani"]
list.clear()
print(list)

[]

# Sort Lists

In [12]:
# Will sort the list alphanumerically, ascending, by default:

colour = ["blue", "white", "green", "orange", "black"]
colour.sort()
print(colour)

['black', 'blue', 'green', 'orange', 'white']

In [14]:
# Will sort the list numerically:

list = [10, 70, 675, 92, 3]
list.sort()
print(list)

[3, 10, 70, 92, 675]

# Sort Descending

To sort descending, use the keyword argument reverse = True:

In [15]:
colour = ["blue", "white", "green", "orange", "black"]
colour.sort(reverse = True)
print(colour)

['white', 'orange', 'green', 'blue', 'black']

In [17]:
list = [10, 70, 675, 92, 3]
list.sort(reverse = True)
print(list)

[675, 92, 70, 10, 3]

# Case Insensitive Sort

By using str.lower as a key function:

In [18]:
colour = ["blue", "White", "green", "Orange", "Black"]
colour.sort(key = str.lower)
print(colour)

['Black', 'blue', 'green', 'Orange', 'White']

# Reverse Order

In [20]:
colour = ["blue", "white", "green", "orange", "black"]
colour.reverse()
print(colour)

['black', 'orange', 'green', 'white', 'blue']

# Copy a List

In [21]:
colour = ["blue", "white", "green", "orange", "black"]
warna = colour.copy()
print(warna)

['blue', 'white', 'green', 'orange', 'black']

# Join Two Lists

In [25]:
colour = ["blue", "white", "green"]
warna = ["biru", "putih", "hijau"]

mix = colour + warna 
print(mix)

['blue', 'white', 'green', 'biru', 'putih', 'hijau']

# 2. TUPLES

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered, unchangeable and allow duplicate values.

Tuples are written with round brackets.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [26]:
name = ("Desy",)
print(type(name))

#if without comma, it's not a tuple, but a string

<class 'tuple'>

# Check if Item Exists

To determine if a specified item is present in a tuple use the "in" keyword:

In [28]:
myname = ("Desy", "Siti", "Nur")
if "Desy" in myname:
    print("Yes, 'Desy' is your name")

Yes, 'Desy' is your name

# Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.


But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

# Add Items

In [ ]:
x = ("dog", "cat", "cow", "sheep")
y = list(x)
y.append("rabbit")
x = tuple(y)

In [44]:
animals = ("dog", "cat", "cow", "sheep")
y = ("rabbit",)
animals += y

print(x)

('dog', 'cat', 'cow', 'sheep', 'rabbit')

# Remove Items

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items.

Or you can delete the tuple completely by using The "del" keyword. But, this will raise an error because the tuple no longer exists

In [ ]:
animals = ("dog", "cat", "cow", "sheep")
y = list(animals)
y.remove("dog")
animals = tuple(y)

# Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

In [48]:
# Packing a tuple:

animals = ("dog", "cat", "cow")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [50]:
# Unpacking a tuple:

animals = ("dog", "cat", "cow")

(black, brown, white) = animals

print(brown)
print(white)
print(black)

cat
cow
dog

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

# Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [51]:
# Assign the rest of the values as a list called "red".

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [52]:
# Add a list of values the "tropic" variable.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Join Two Tuples

By using the + operator

In [53]:
hy1 = ("a", "b" , "c")
hy2 = (1, 2, 3)
hy3 = hy1 + hy2
print(hy3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

By using the * operator

In [56]:
animals = ("dog", "cat", "cow")
hewan = animals * 3

print(hewan)

('dog', 'cat', 'cow', 'dog', 'cat', 'cow', 'dog', 'cat', 'cow')

# 3. SETS

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [58]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

# Sets are unordered, so you cannot be sure 
# in which order the items will appear.

{'banana', 'apple', 'cherry'}

# Access Items

Cannot access items in a set by referring to an index or a key.

But it can loop through the set items using "a for loop", or ask if a specified value is present in a set, by using the "in" keyword.

In [61]:
fruits = {"apple", "banana", "cherry"}

for x in fruits:
    print(x)

banana
apple
cherry

In [64]:
# Check if "banana" is present in the set

fruits = {"apple", "banana", "cherry"}

print("banana" in fruits)

True

# Change Items

Once a set is created, you cannot change its items, but you can add new items.

# Add Items

By using the add() method.

In [66]:
fruits = {"apple", "banana", "cherry"}
fruits.add("grape")
print(fruits)

{'banana', 'apple', 'grape', 'cherry'}

# Add Sets

To add items from another set into the current set, use the update() method.

In [67]:
fruits = {"apple", "banana", "cherry"}
buah = {"apel", "pisang", "ceri"}
fruits.update(buah)

print(fruits)

{'pisang', 'apel', 'ceri', 'banana', 'apple', 'cherry'}

# Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [68]:
fruits = {"apple", "banana", "cherry"}
vegetables = ["tomato", "carrot"]
fruits.update(vegetables)

print(fruits)

{'cherry', 'carrot', 'banana', 'tomato', 'apple'}

# Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [73]:
# Remove "cherry" by using the remove() method

fruits = {"apple", "banana", "cherry"}
fruits.remove("cherry")

print(fruits)

# Note: If the item to remove does not exist, remove() will raise an error.

{'banana', 'apple'}

In [74]:
# Remove "banana" by using the discard() method

fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")

print(fruits)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

We can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so we will not know what item that gets removed.


The return value of the pop() method is the removed item.

In [76]:
fruits = {"apple", "banana", "cherry"}
buah = fruits.pop()

print(buah)
print(fruits)

banana
{'apple', 'cherry'}

In [77]:
# The clear() method empties the set

fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

# Keep ONLY the Duplicates

In [78]:
# Keep the items that exist in both set x, and set y
# The intersection_update() method 
# will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [79]:
# The intersection() method will return a new set, 
# that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Keep All, But NOT the Duplicates

In [80]:
# The symmetric_difference_update() method 
# will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

In [81]:
# The symmetric_difference() method will return a new set, 
# that contains only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'banana', 'google'}

# Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys & values.

left = key

right = value

In [82]:
mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2023
}

print(mycar)

{'brand': 'lamborgini', 'model': ' NewVV99', 'year': 2023}

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [83]:
mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2023
}

print(mycar["brand"])

lamborgini

# Ordered or Unordered?

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When the dictionaries are ordered, it means that the items have a defined order, and that order will not change.

If unordered means that the items does not have a defined order, we cannot refer to an item by using an index.

# Duplicates Not Allowed

Dictionaries cannot have two items with the same key

In [86]:
# Duplicate values will overwrite existing values

mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2023,
    "year"  : 2020
}

print(mycar)

# it will show the last one which is 2020

{'brand': 'lamborgini', 'model': ' NewVV99', 'year': 2020}

In [87]:
# Dictionary Length

print(len(mycar))

# duplicate value will count as 1

3

# Accessing Items

We can access the items of a dictionary by referring to its key name (inside square brackets)

In [89]:
mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2023
   
}

x = mycar["model"]
print(x)

 NewVV99

In [90]:
# There is also a method called get() that will give the same result

x = mycar.get("model")

# Get Keys

The keys( ) method will return a list of all the keys in the dictionary.

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [93]:
mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2023,
    "colour" : "white"
   
}

x = mycar.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'colour'])

# Get Values

The values() method will return a list of all the values in the dictionary.

In [95]:
mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2000,
    "colour" : "white"
   
}

x = mycar.values()
print(x)

dict_values(['lamborgini', ' NewVV99', 2000, 'white'])

# Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [96]:
# Get a list of the key:value pairs

mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2000,
    "colour" : "white"
   
}

x = mycar.items()
print(x)

dict_items([('brand', 'lamborgini'), ('model', ' NewVV99'), ('year', 2000), ('colour', 'white')])

# Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword.

In [99]:
# Check if "model" is present in the dictionary

mycar = {
    "brand" : "lamborgini",
    "model" : " NewVV99",
    "year"  : 2000,
    "colour" : "white"
   
}

if "model" in mycar:
    print("Yes, 'model' is one of the keys in the mycar dictionary")

Yes, 'model' is one of the keys in the mycar dictionary

# DONE, ALHAMDULILLAH